.cartImg {
  object-fit: cover;
  width: 180px;
  height: 160px;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* outline: 1px solid red; */
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  gap: 22px;

  width: 860px;
  min-height: 760px;
  max-height: 100%;
  border-radius: 12px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* outline: 1px solid red; */
}

.cartCaption {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 126px 0px 80px;
  width: 100%;
}

.cartHeading {
  font-weight: 500;
  font-size: 22px;
  color: #333;

  letter-spacing: 0.04em;
}

.cartSubtitle {
  font-weight: 500;
  font-size: 22px;
  color: #333;

  letter-spacing: 0.04em;
}

.cartMessage {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  gap: 12px;
  top: 30%;
  font-weight: 600;
  font-size: 26px;
  color: #333;

  letter-spacing: 0.04em;
}

.messageIcon {
  font-size: 80px;
  color: tomato;
}

/* .cardBox::after {
  content: "";
  position: absolute;
  bottom: 36px;
  display: block;
  width: 800px;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.2);
  background-color: slateblue;
} */

.cartList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  gap: 22px;

  padding: 0 30px;
  width: 100%;
}

.cartImage {
  padding: 12px 0;
}

.cartList::before {
  content: "";
  position: absolute;
  top: -12px;
  display: block;
  width: 720px;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.2);
}

.itemInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* outline: 1px solid red; */
  width: 100%;
}

.cartInfo {
  width: 220px;
}

.quantityBox {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  width: 120px;
}

.quantityBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  color: #333;
}

.quantityItem {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  color: #333;

  border-radius: 50%;
  border: 1px solid rgb(51, 51, 51, 0.2);
  width: 50px;
  height: 50px;
}

.cartBrand {
  font-weight: 400;
  font-size: 16px;
  color: rgb(51, 51, 51, 0.6);

  letter-spacing: 0.04em;

  padding-top: 8px;
}

.cartTitle {
  font-weight: 500;
  font-size: 22px;
  color: #000;

  letter-spacing: 0.04em;
  line-height: 1.2;
  /* width: 180px; */
}

.priceBox {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

.cartPrice {
  font-weight: 500;
  font-size: 26px;
  color: #000;
}

.btnDelete {
  padding: 0px 22px;
}

.btnDelete:hover,
.btnDelete:hover .deleteIcon {
  color: white;
  background-color: black;
  transition: 250ms ease-in-out;
}

.deleteIcon {
  font-size: 32px;
  color: #333;
}

/*******************************/
/*! CART-SUMMARY */
/*******************************/

.summaryBox {
  width: 425px;
  min-height: 700px;
  height: 100%;

  padding: 15px 22px;
  border-radius: 12px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sumList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.sumList::before {
  content: "";
  position: absolute;
  top: 0;
  width: 380px;
  height: 2px;

  background-color: rgb(51, 51, 51, 0.1);
}

.summaryTitle {
  font-weight: 500;
  font-size: 22px;
  color: #333;

  letter-spacing: 0.04em;
}

.price {
  margin-bottom: 22px;
}

.shipping,
.total,
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  font-weight: 600;
  font-size: 22px;
  color: #333;

  letter-spacing: 0.04em;
}
.shipping {
  padding-bottom: 22px;
}

.priceItem,
.shipItem,
.totalItem {
  font-weight: 500;
  font-size: 22px;
  color: #333;

  letter-spacing: 0.06em;
}

.totalPrice {
  position: relative;
  margin-top: auto;
  padding-bottom: 22px;

  width: 100%;
}

.totalPrice::before {
  content: "";
  position: absolute;
  bottom: 60px;
  width: 380px;
  height: 2px;

  background-color: rgb(51, 51, 51, 0.1);
}

.masterIcon {
  width: 60px;
  height: 30px;
  background-color: rgb(51, 51, 51, 0.1);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.visaIcon {
  width: 60px;
  height: 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.summaryWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 580px;
}

.orderActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;

  margin-top: auto;

  width: 100%;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 16px;
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  font-size: 14px;
  color: white;
  letter-spacing: 0.08em;

  width: 380px;
  height: 50px;
  /* padding: 14px 125px; */
  background-color: #000;
  text-transform: uppercase;
}

.confirmBtn:hover {
  transition: 250ms ease;
  background-color: #252525;
}

.paymentIcon {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.iconTitle {
  font-weight: 400;
  font-size: 14px;
  color: #333;

  letter-spacing: 0.02em;
}

.paymentLogo {
  display: flex;

  gap: 18px;
}
