.productContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 25px;
}

.listItem {
  position: relative;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.listContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 120px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 290px;
  height: 420px;
}

.productImage {
  /* outline: 1px solid #aaa; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productsContent {
  /* outline: 1px solid #aaa; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0px;

  border-radius: 0px 0px 12px 12px;
  padding: 12px 16px;
}

.productDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 90%;
}

.kategory {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: rgb(51, 51, 51, 0.6);

  margin-bottom: 6px;
}

/* .cardSubject {
  display: flex;
  flex-direction: column;

  gap: 12px;
} */

.productTitle {
  font-weight: 500;
  font-size: 22px;
  color: #333;
  letter-spacing: 0.04em;
  line-height: 1.3;
}

.priceProducts {
  font-weight: 500;
  font-size: 22px;
  color: #333;
  letter-spacing: 0.04em;
}

.ratingProducts {
  font-weight: 500;
  font-size: 14px;

  color: #333;
}

.likeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.favoriteButt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 6px 4px 12px 0px;
  padding: 8px;
  border-radius: 50%;
}
