.discountBtn {
  font-weight: 500;
  font-size: 16px;
  color: white;
  letter-spacing: 0.04em;

  padding: 10px 32px;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: black;
}

.discountBtn:hover {
  transition: 250ms ease;
  background-color: #252525;
}

.promoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 22px;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

.valideMsg {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

.discountInput {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  letter-spacing: 0.04em;

  width: 100%;
  max-width: 190px;
  min-width: 260px;
  min-height: 40px;
  background-color: #f5f5f5;
  padding: 0.15rem 0.8rem;

  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0px 10px 20px -18px;
}

.discountInput:focus {
  border-bottom: 2px solid #333;
  border-radius: 4px 4px 2px 2px;
}

.discountInput:hover {
  outline: 1px solid lightgrey;
}

.discountInput::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: rgb(51, 51, 51, 0.6);
}

.messageBox {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message {
  transition: all 250ms ease;
}
