.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 120px 0;
}

.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  grid-column-gap: 60px;
  grid-row-gap: 0px;
}

.descContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContent {
  display: flex;
  flex-direction: column;
}

.titleContact {
  font-weight: 400;
  font-size: 22px;
  color: rgb(51, 51, 51, 0.8);

  letter-spacing: 0.04em;
  text-transform: uppercase;

  padding-bottom: 12px;
}

.captionContact {
  font-weight: 400;
  font-size: 48px;
  color: #000;

  letter-spacing: 0.04em;
  line-height: 1.3;

  padding-bottom: 26px;
}

.textSpan {
  font-weight: 600;
  font-size: 48px;
  color: #000;

  letter-spacing: 0.04em;
}

.textContact {
  font-weight: 400;
  font-size: 18px;
  color: rgb(51, 51, 51, 0.8);

  letter-spacing: 0.06em;
  line-height: 1.3;

  width: 80%;
}

.contactInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  margin-top: 42px;
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 18px;
}

.conatctItem {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 18px;
}

.contactLink {
  font-weight: 400;
  font-size: 22px;
  color: #333;
  letter-spacing: 0.06em;
}

.contactIcon {
  font-size: 32px;
  color: royalblue;
}

/**=====================*/
/*!CONTACT-FORM*/
/**=====================*/
