.sectionHero {
  background: radial-gradient(
    circle,
    rgb(135, 188, 212) 0%,
    rgba(202, 218, 222, 1) 50%
  );
  min-height: 80vh; /* 80% висоти вікна браузера */
}

.aboutSection {
  background: radial-gradient(
    circle,
    rgba(135, 188, 212, 1) 0%,
    rgba(202, 218, 222, 1) 50%
  );
}

.heroContainer {
}

.headlineContainer {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* z-index: 0; */
}

.heroImg {
  width: 680px;
  height: 100%;
  object-fit: cover;
}

/* .headlineContainer::after {
  content: "";
  position: absolute;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  top: -90px;
  left: -30px;
  height: 520px;
  width: 790px;
  z-index: -1;
} */

.heroSubject {
  margin-left: 60px;
}

.homeTitle {
  font-weight: 700;
  font-size: 52px;
  color: #333;

  letter-spacing: 0.04em;
  line-height: 1.2;

  width: 720px;
}

.heroSubtitle {
  font-weight: 400;
  font-size: 18px;
  color: #333;
  letter-spacing: 0.04em;
  line-height: 1.2;

  width: 460px;
  margin-top: 16px;
}

/* .heroSpan {
  font-weight: 600;
} */

.heroNav {
  width: 50%;
  margin-top: 36px;
}

.heroBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;

  font-weight: 400;
  font-size: 22px;
  color: #fff;
  background-color: #000;
  padding: 18px 60px;
  border-radius: 12px;
}

.heroBtn:hover {
  transition: 250ms ease;
  background-color: #252525;
}

.heroIcon {
  font-size: 22px;
}
