.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 480px;
  height: 100%;
  padding: 25px 25px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.error {
  font-size: 14px;
  color: tomato;
  min-height: 12px;

  margin: 10px 0 10px 0;
}

.input {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  letter-spacing: 0.04em;

  width: 100%;
  max-width: 190px;
  min-width: 430px;
  min-height: 50px;
  background-color: #f5f5f5;
  padding: 0.15rem 0.8rem;

  border-radius: 4px;
  outline: none;
  border: none;
}

.input:focus {
  border-bottom: 2px solid #333;
  border-radius: 4px 4px 2px 2px;
}

.input:hover {
  outline: 1px solid lightgrey;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: rgb(51, 51, 51, 0.6);
}

.textarea {
  font-family: "Georama", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  letter-spacing: 0.06em;

  width: 100%;
  max-width: 190px;
  min-width: 430px;
  min-height: 160px;
  background-color: #f5f5f5;
  padding: 0.15rem 0.8rem;

  border-radius: 4px;
  resize: none;
  outline: none;
  border: none;
  padding: 14px 0 0 14px;
}

.textarea:hover {
  outline: 1px solid lightgrey;
}

.textarea:focus {
  border-bottom: 2px solid #333;
  border-radius: 4px 4px 2px 2px;
}

.textarea::placeholder {
  font-family: "Georama", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: rgb(51, 51, 51, 0.6);
}

.formBt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-size: 18px;
  color: #fff;
  letter-spacing: 0.04em;

  background-color: #000;
  padding: 8px 60px;

  margin-top: 26px;
  align-self: flex-start;
  box-shadow: rgba(0, 0, 0, 0.22) 6px 4px 4px;
}

.formBt:hover {
  transition: 250ms ease;
  background-color: #252525;
}

.formIcon {
  font-size: 22px;
}
