.proposesContainer {
  padding: 120px 0;
}

.propSubject {
  text-align: center;
  margin-bottom: 60px;
}

.propTitle {
  font-weight: 600;
  font-size: 36px;
  color: #333;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  text-align: left;
}
