.featureContainer {
  padding: 120px 0;
}

.featureList {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 80px;
  /* outline: 1px solid red; */
}

.featureItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid red; */
}

.featureItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -40px;
  width: 2px;
  height: 120px;
  background-color: rgb(51, 51, 51, 0.2);
}

.featureIcon {
  font-size: 46px;
  color: black;

  margin-bottom: 22px;
}

.featureTitle {
  font-weight: 500;
  font-size: 22px;
  color: #000;
  letter-spacing: 0.06em;

  margin-bottom: 16px;
}

.featureText {
  font-weight: 400;
  font-size: 16px;
  color: #333;
  letter-spacing: 0.06em;
  line-height: 1.3;

  width: 320px;
}
